@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";
@import "./reset";
@import "./about";
@import "./footer";
@import "./landing";
@import "./mixins";
@import "./projects";


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 200, 200, 200;
  --background-end-rgb: 90, 70, 70;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100dvh;
  overflow-x: hidden;
}