@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 200, 200, 200;
  --background-end-rgb: 90, 70, 70;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html{
  scroll-behavior: smooth;
}

@keyframes cursor {
  0%, 100% { 
     
  }
}

@keyframes text {
  0% { 
    width: 0; 
  }
  100% { 
    width: 176px; 
  }
}

@keyframes p-animation-scroll {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}


main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.landing, .about, .projects{
  scroll-snap-align: start;
  height: 100vh;
}

.about{
  background-color: #5f16e8;
  color: white;
}

.projects
{
  background-color: #5f16e8;
  background: linear-gradient(180deg, rgba(95,22,232,1) 0%, rgba(51,11,125,1) 100%); 
  color: white;
}

.landing{
  display: flex;
  flex-direction: column;
  text-align: center;
  
  background: #6919ff;
  background: linear-gradient(0deg, rgba(95,22,233,1) 0%, rgba(78,18,190,1) 50%, rgba(51,11,125,1) 100%);
  color: #fffef9;
}

.p-description{
  font-size: 32px;
  font-weight: bold;
  margin-top: 25%;
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
}


.btn{
  border: #fffef9 1px solid;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  margin-top: 64px;
  width: 100px;
  scale: 1.00;
  box-shadow: #370d86 5px 5px 1px 1px;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.3s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  transform-style: preserve-3d; /* Optional for smooth shadow animation */
}

.btn:hover{
  background: #fffef9;
  color: #6919ff;
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: #370d86 10px 10px 2px 2px;
}

.p-scroll{
  margin-top: auto;
  animation: p-animation-scroll 2s infinite alternate;
  font-size: x-large;
}

/* ------------------ ABOUT ------------------ */
.about{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px red solid;
  justify-content: center;
}

.about-title{
  display: flex;
  align-items: end;
  align-self: flex-start;
  margin: 100px;
  height: fit-content;
  
}

.about-title h1{
  justify-self: flex-start;
  font-size: 24px;
  font-weight: bold;
}

.about-paragraph{
  
  max-width: 60%;
  flex-wrap: wrap;
}

.typewriter {
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #212121;
  animation: cursor 2s step-start infinite, 
  text 2s steps(24);

  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
  border-bottom: solid 1px #ffffff;
  align-self: center;
}

