.span-p-description{
  color: $primary-magenta;
  background-color: $secondary-background-color;
  border-radius: 4px;
  padding: 0px 8px 0px 8px;
}

.subpage-title{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 32px;
  border-bottom: solid 1px $primary-border-color;
  align-self: center;
}